@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../resources/fonts/ProximaNovaT-Thin.eot');
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
		url('../resources/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNovaT-Thin.woff') format('woff'),
		url('../resources/fonts/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../resources/fonts/ProximaNova-ThinIt.eot');
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
		url('../resources/fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-ThinIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../resources/fonts/ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('../resources/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Light.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../resources/fonts/ProximaNova-LightIt.eot');
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
		url('../resources/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-LightIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../resources/fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../resources/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Regular.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../resources/fonts/ProximaNova-RegularIt.eot');
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
		url('../resources/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../resources/fonts/ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../resources/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../resources/fonts/ProximaNova-SemiboldIt.eot');
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
		url('../resources/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../resources/fonts/ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../resources/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Bold.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../resources/fonts/ProximaNova-BoldIt.eot');
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
		url('../resources/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-BoldIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../resources/fonts/ProximaNova-Extrabld.eot');
	src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
		url('../resources/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Extrabld.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../resources/fonts/ProximaNova-ExtrabldIt.eot');
	src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
		url('../resources/fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../resources/fonts/ProximaNova-Black.eot');
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
		url('../resources/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-Black.woff') format('woff'),
		url('../resources/fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../resources/fonts/ProximaNova-BlackIt.eot');
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
		url('../resources/fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/ProximaNova-BlackIt.woff') format('woff'),
		url('../resources/fonts/ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

