:root {
  --c-white: #fff;
  --c-white-30: rgba(255, 255, 255, 0.3);
  --c-black: #0c0c0c;
  --c-green: #34af88;
  --c-dark: #282828;

  --font-th: "Proxima Nova Th";
  --font-lt: "Proxima Nova Lt";
  --font-rg: "Proxima Nova Rg";
  --font-bl: "Proxima Nova Bl";

  --page-top-padding: 25px;
  --page-hor-padding: 50px;
  --page-bottom-padding: 100px;

  --team-items-in-line: 3;
}

/* RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-rg);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: var(--c-white);
  width: 100%;
  background-color: var(--c-black);
}
a {
  text-decoration: none;
  color: var(--c-white);
}
ul {
  list-style: none;
}
hr {
  width: 300px;
  height: 1px;
  border: none;
  background-color: var(--c-white);
  left: calc(50% - 100px);
  position: relative;
}

/* TYPOGRAPHY */
h1 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 108px;
  padding-left: 100px;
}
h2 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  padding-left: 100px;
}
.th {
  font-family: var(--font-th);
  font-weight: 100;
  font-style: normal;
}
.thi {
  font-family: var(--font-th);
  font-weight: 100;
  font-style: italic;
}
.lt {
  font-family: var(--font-lt);
  font-weight: 300;
  font-style: normal;
}
.lti {
  font-family: var(--font-lt);
  font-weight: 300;
  font-style: italic;
}
.i {
  font-family: var(--font-rg);
  font-weight: normal;
  font-style: italic;
}
.sb {
  font-family: var(--font-lt);
  font-weight: 600;
  font-style: normal;
}
.sbi {
  font-family: var(--font-lt);
  font-weight: 600;
  font-style: italic;
}
.b {
  font-family: var(--font-rg);
  font-weight: bold;
  font-style: normal;
}
.bi {
  font-family: var(--font-rg);
  font-weight: bold;
  font-style: italic;
}
.eb {
  font-family: var(--font-th);
  font-weight: 800;
  font-style: normal;
}
.ebi {
  font-family: var(--font-th);
  font-weight: 800;
  font-style: italic;
}
.bl {
  font-family: var(--font-bl);
  font-weight: 900;
  font-style: normal;
}
.bli {
  font-family: var(--font-bl);
  font-weight: 900;
  font-style: italic;
}

/* MAIN MENU */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 130px);
  top: 90px;
  left: 32px;
  position: absolute;
}
.menu-burger {
  width: 56px;
  height: 50px;
  top: 0;
  left: 0;
  padding: 18px;
  position: fixed;
  display: none;
  cursor: pointer;
}
.menu-closer {
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
  padding: 18px;
  position: fixed;
  display: none;
  cursor: pointer;
}
.menu-title {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 50px;
  display: none;
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  padding: 25px 0;
}
.menu-list li {
  font-size: 14px;
  font-family: var(--font-lt);
  font-weight: 600;
  font-style: normal;
}
.menu-list li a {
  display: inline-block;
}
.menu-list li a,
.menu-list li a::before {
  color: var(--c-white-30);
}
.menu-list li.active a,
.menu-list li.active a::before {
  color: var(--c-white);
}
.menu-list li a::before {
  margin-right: 20px;
}
.menu-list li:nth-of-type(1) a::before {
  content: "01";
  margin-left: 2px;
}
.menu-list li:nth-of-type(2) a::before {
  content: "02";
}
.menu-list li:nth-of-type(3) a::before {
  content: "03";
}
.menu-list li:nth-of-type(4) a::before {
  content: "04";
}
.menu-list li:nth-of-type(5) a::before {
  content: "05";
}
.menu-vert-line {
  display: flex;
  flex-direction: column;
  width: 1px;
  height: 100%;
  margin-left: 25px;
  background-color: var(--c-white-30);
  position: absolute;
}
.menu-vert-line-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 31px 0;
}
.menu-vert-line-dots span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--c-white-30);
}
.menu-vert-line-dots span:nth-of-type(4n + 1) {
  background-color: var(--c-white);
}
.menu-vert-line-dots span.active {
  width: 4px;
  height: 4px;
  background-color: var(--c-green);
}

/* BUTTONS */
.button-contact {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  position: relative;
}
.button-contact-text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  position: relative;
}
.button-contact-icon {
  width: 18px;
  height: 14px;
}
.button-contact-bg {
  width: 70%;
  height: 100%;
  right: 0;
  background-color: var(--c-green);
  position: absolute;
  display: block;
}
.button-contact:hover .button-contact-bg {
  right: 30%;
}

/* HERO BLOCK */
.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("/resources/images/hero/bg_hero_0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 var(--page-hor-padding) 0 230px;
}
.hero-content-title {
  font-size: 53px;
  width: 100%;
}
.hero-content-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.hero-content-description .button-contact {
  display: flex;
  margin-right: 10px;
}
.hero-content-description-text {
  text-align: right;
}

/* LOGOTYPE */
.logotype {
  width: 110px;
  height: 23px;
  top: var(--page-top-padding);
  right: var(--page-hor-padding);
  background-image: url("/resources/images/logotype.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

/* PROJECTS MENU */
.projects-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px var(--page-hor-padding) 0 230px;
}
.projects-menu li a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.projects-menu li a.unactive {
  opacity: 0.4;
}
.projects-menu li a::before {
  content: "";
  width: 30px;
  height: 5px;
  top: -39px;
  background-color: var(--c-green);
  position: absolute;
  opacity: 0;
}
.projects-menu li a.active::before {
  opacity: 1;
}
.projects-menu .project-list {
  display: none;
}

/* PROJECT LIST */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 25px 55px;
  justify-items: stretch;
  justify-content: space-between;
  padding: 40px var(--page-hor-padding) var(--page-bottom-padding) 230px;
}
.project-list-item {
  position: relative;
  display: block;
}
.project-list-item-image {
  height: 176px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 11px solid var(--c-green);
  position: relative;
  display: block;
}
.project-list-item-title {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: calc(100% - 40px);
  top: -11px;
  left: 40px;
  position: relative;
  display: block;
}

/* TEAM */
.team {
  height: 330px;
  margin: 108px 0 var(--page-bottom-padding) 0;
  padding: 0 150px 0 270px;
  overflow: hidden;
  position: relative;
}
.team-arrow {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: var(--c-dark);
  top: 95px;
  padding: 20px 0 0 18px;
  position: absolute;
  cursor: pointer;
}
.team-arrow.left {
  left: 180px;
}
.team-arrow.right {
  right: 55px;
}
.team-container {
  display: flex;
  height: calc(330px + 5rem);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0;
}
.team-container-item {
  flex-shrink: 0;
  width: 240px;
  margin-right: calc(((100vw - 150px - 270px) - (240px * var(--team-items-in-line))) / (var(--team-items-in-line) - 1));
  scroll-snap-align: start;
}
.team-container-item-image {
  width: 240px;
  height: 240px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.team-container-item-name {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 30px;
  width: 100%;
  display: inline-block;
}
.team-container-item-position {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 5px;
  width: 100%;
  display: inline-block;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  justify-items: stretch;
  justify-content: space-between;
  padding: 40px 100px 50px 200px;
}
.services-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  padding: 10px 15px;
  border: 2px solid var(--c-white);
}
.services-item p {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  display: block;
}

/* PARTNERS */
.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 40px 100px 50px 200px;
}

/* CONTACTS */
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px 50px 200px;
}
.contacts-map {
  width: calc(100% - 300px);
  height: 400px;
  background-image: url("/resources/images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.contacts-info > * + * {
  margin-top: 20px;
}
.contacts-info .button-contact {
  display: flex;
}

/* LAYERS */
.logotype {
  z-index: 200;
}
.menu {
  z-index: 100;
}
.menu-burger {
  z-index: 90;
}
.menu-list,
.button-contact-text,
.button-contact-icon {
  z-index: 2;
}
.menu-vert-line-dots,
.button-contact-bg {
  z-index: 1;
}

/* TRANSITIONS */
.hero,
.hero-content-description {
  transition: 1000ms all ease-out;
}
.button-contact-bg,
.projects-menu li a,
.projects-menu li a::before {
  transition: 150ms all ease-out;
}

@media all and (min-width: 1440px) {
  :root {
    --team-items-in-line: 4;
  }
}

@media all and (max-width: 1145px) {
  :root {
    --team-items-in-line: 2;
  }
}

@media all and (max-width: 768px) {
  :root {
    --page-top-padding: 20px;
    --page-hor-padding: 15px;
    --page-bottom-padding: 40px;
  }

  h1,
  h2 {
    font-size: 18px;
    padding: 0 var(--page-hor-padding);
    margin-top: 60px;
  }

  hr {
    display: none;
  }

  .button-contact {
    display: flex;
  }

  .menu {
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--c-black);
    position: fixed;
    display: none;
  }
  .menu-burger {
    display: block;
  }
  .menu-closer {
    display: block;
  }
  .menu-title {
    margin-top: 5vh;
    display: block;
  }
  .menu-list {
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 6vh 0 0;
  }
  .menu-list li {
    font-size: 20px;
    font-family: var(--font-bl);
    font-weight: 900;
  }
  .menu-list li + li {
    margin-top: 6vh;
  }
  .menu-list li a::before {
    margin-right: 0;
  }
  .menu-list li:nth-of-type(1) a::before {
    content: "01. ";
    margin-left: 0;
  }
  .menu-list li:nth-of-type(2) a::before {
    content: "02. ";
  }
  .menu-list li:nth-of-type(3) a::before {
    content: "03. ";
  }
  .menu-list li:nth-of-type(4) a::before {
    content: "04. ";
  }
  .menu-list li:nth-of-type(5) a::before {
    content: "05. ";
  }
  .menu-vert-line,
  .menu-vert-line-dots {
    display: none;
  }
  .menu .button-contact {
    display: flex;
    margin-top: 6vh;
  }

  .logotype {
    width: 77px;
    height: 15px;
  }

  .hero {
    height: calc(100vw / 2.45714286);
    margin-top: 53px;
  }
  .hero-content {
    padding: 0;
  }
  .hero-content-title {
    font-size: 24px;
    text-align: center;
  }
  .hero-content-description {
    top: calc(100vw / 2.45714286 + 60px);
    margin-top: unset;
    position: absolute;
  }
  .hero-content-description-text {
    font-size: 11px;
    width: 100%;
    padding: 0 var(--page-hor-padding);
  }
  .hero-content-description .button-contact {
    display: none;
  }

  .projects-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 65px var(--page-hor-padding) 50px;
  }
  .projects-menu li {
    text-align: center;
  }
  .projects-menu li + li {
    margin-top: 50px;
  }
  .button-contact.main {
    width: 138px;
    left: calc(50% - 138px / 2);
    margin-bottom: 100px;
  }
  .projects-menu li a::before {
    width: 5px;
    height: 90%;
    top: unset;
    left: -20px;
  }
  .project-list {
    display: none;
  }
  .project-list-item-title {
    font-size: 21px;
    text-align: left;
  }
  .projects-menu .project-list {
    display: none;
    padding: 30px 0 0 0;
  }
  .projects-menu li a.active ~ .project-list {
    display: grid;
  }

  .team {
    height: auto;
    margin: 0;
    padding: 40px 0 100px;
    overflow: unset;
  }
  .team-arrow {
    display: none;
  }
  .team-container {
    flex-direction: column;
    align-items: center;
    overflow-x: unset;
    height: auto;
  }
  .team-container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0;
  }
  .team-container-item + .team-container-item {
    margin-top: 35px;
  }
  .team-container-item-image {
    width: 150px;
    height: 150px;
  }
  .team-container-item-name {
    font-size: 14px;
    margin-top: 18px;
  }
  .team-container-item-position {
    font-size: 14px;
  }

  .services {
    gap: 20px;
    padding: 30px var(--page-hor-padding) 0;
  }
  .services-item p {
    font-size: 14px;
  }
  .partners {
    padding: 30px var(--page-hor-padding);
  }

  .contacts {
    flex-direction: column;
    padding: 30px var(--page-hor-padding) 100px;
  }
  .contacts-map {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
}
